.navbar {
    background: red;
    min-height: 70px;
    position: fixed;
    width: 100%;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22); */
    color: white;
    font-size: 30px;

}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
}

.navbar a {
    
    color: white;
    font-weight: 900;
}
